* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
    position: relative;
    background-image: url(./src/background-pexels-asad.jpg);
    background-size: cover;
    background-position: center;
}

.intro-text {
    background: #f6e4e4ce;
    color: #f21a9f;
    text-shadow: .2rem .2rem .2rem#f6e4e4;
    position: absolute;
    padding: 1rem;
    border-radius: .5rem;
    top: 10%;
    right: 10%;
    font-size: 2rem;
    transform: translate(-10%, -10%);
    font-family: 'Great Vibes', cursive;
    text-align: center;
    box-shadow: .1rem .1rem .6rem #f21a9f;
}

.intro-text h3 {
    font-size: 3rem;
}

.balloons {
    height: 150px;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-30%, -65%);
    filter: drop-shadow(.2rem .2rem .2rem#f6e4e4bb);
}

.dance {
    height: 150px;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-20%, -15%);
    filter: drop-shadow(.2rem .2rem .1rem #f6e4e4bb);
}

.bell {
    height: 150px;
    position: absolute;
    top: 90%;
    left: 8%;
    transform: translate(-8%, -90%);
    filter: drop-shadow(.2rem .2rem .1rem #f6e4e4bb);
}

section {
    min-height: 100vh;
    color: #f6e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffffff;
}

.about {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-evenly;
    padding: 0 10rem;
}

.about h1 {
    font-family: 'Great Vibes', sans-serif;
    color:#f21a9f;
    text-shadow: .2rem .2rem .2rem#f6e4e4;
    font-size: 4rem;
}

.services {
    background-image: url(./src/pexels-fu-zhichao-587739.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services h1 {
    font-size: 4rem;
    padding: .6rem;
    font-family: 'Great Vibes', sans-serif;
    border-radius: 0.5rem;
    color: #f21a9f;
    text-shadow: .1rem .1rem .6rem #f6e4e4;
    box-shadow: .1rem .1rem .6rem #f21a9f;
    background-color: #f6e4e4ce;
    text-align: center;
}

.serv-cards {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #f21a9f;
}

.f-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6e4e4;
    height: 60vh;
    width: 18vw;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: .1rem .1rem .6rem #f21a9f;
    transition: all 0.4s;
}

.f-card:hover {
    cursor: pointer;
    transform: translateY(-.5em);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8rem;
}

.card img {
    width: 50%;
}

.balloon {
    animation: up 2s linear infinite alternate;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3rem);
    }
}

.couple {
    animation: dance 2.5s linear infinite alternate;
}

@keyframes dance {
    from {
        transform: translateX(-1rem);
    }
    to {
        transform: translateX(1rem);
    }
}

.bells {
    animation: ring 2s linear infinite alternate;
}

@keyframes ring {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(15deg);
    }
}

footer {
    min-height: 100vh;
    color: #f6e4e4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
    align-items: center;
    background-color: #ffffff;
    font-size: 1.6rem;
}


.foot-head {
    font-size: 3rem;
    color:#f21a9f;
    text-shadow: .2rem .2rem .2rem#f6e4e4;
    font-family: 'Great Vibes',sans-serif;
}

form {
    background-color: #f6e4e4;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: .1rem .1rem .6rem #f21a9f;
}

.feedback-input {
    color:#f21a9f;
    font-size: .9rem;
    border-radius: .5rem;
    line-height: .5rem;
    border: .08rem solid #f21a9f;
    transition: all 0.3s;
    padding: .8rem;
    margin-bottom: 0.5rem;
    width: 100%;
    outline:0;
 }
  
textarea {
    height: 10vh;
    line-height: 10%;
    resize: none;
}
  
[type="submit"] {
    font-family: sans-serif;
    width: 100%;
    background:#f21a9fbb;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;
    color: #f6e4e4;
    font-size: 1.5rem;
    padding: .8rem 0;
    font-weight: 700;
}
  
[type="submit"]:hover { 
    background:#ffffff; 
    color: #f21a9f; 
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.social h1 {
    font-family: 'Great Vibes', sans-serif;
    color:#f21a9f;
    text-shadow: .2rem .2rem .2rem#f6e4e4;
    margin-right: 2rem;
}

.fa-brands {
    font-size: 5rem;
    color: #f21a9f;
}


@media only screen and (max-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .intro-text {
        text-align: center;
    }

    #parallax img {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .serv-cards {
        display: inherit;
        flex-direction: column;
        gap: 1rem;
        width: 20%;
    }

    .f-card {
        display: flex;
    }
    
}

